/* Reset */
*{
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    box-sizing: border-box;
}

body{
    background-image: url(Images/Banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

/* navigation bar */
header{
    background: #fff;
    cursor: pointer;
}

header > a{
    font-size: 2rem;
    margin: 2rem;
    color: black;
}

nav{
    display: inline-block;
    margin-left: 22rem;
    cursor: pointer;
}

/* navigation bar with hover effects */

li:hover{
    background-color: #f2f2f2;
}

.logo{
    text-decoration: none;
}

.logo li{
    display: inline-block;
    padding: 10px;
    font-size: 1.2rem;
}

/* user-icon */

.user-icon{
    margin: 0 0 0 24rem;
    font-size: 1.5rem;
}

/* Main-body */

/* content-text */
.content-text{
    text-align: center;
    margin-top: 10rem;
}

h1{
    font-size: 4em;
}

.lead{
    margin: 2rem auto;
    background-color: #fff;
    width: 50%;
    height: 20vh; 
    padding: 1.5rem;
    border-radius: 2rem;
}

.lead p{
    line-height: 1.4rem;
    font-size: 1.2em;
    font-weight: bold;
}

/* changing the color of the tech-pro to white */
.Tech{
    color: white;
}

/* skill section */
.skill{
    margin:17rem 2rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.skill-2{
    margin:3rem 2rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap; 
}

/* container for the skill section */
figure{
    max-width: 24%;
}
/* images for the skill section */
.skill img{
    max-width: 100%;
}

.skill-2 img{
    max-width: 100%;
}

h2{
    margin:5px 0;
}

/* styling the learn more Button */
.button{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.btn{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.2rem;
    background: transparent;
}

.btn:hover{
    background-color: rgb(230, 222, 222);
}

/* footer section */
footer{
    background-color: #000;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.footer-icon a{
    color: #fff;
    margin: 3px;
}